 html {
    margin-left: 3px;
    margin-right: 3px;
    background: e3e4edc9;
}


.ui.stackable.nav-bar.menu {
    margin-bottom: 3%;
}

.logo-image {
    margin-right: 35%;
    margin-top: 5%;
    opacity: 0.5;
    border-radius: 25%;
}
