.ui.grid.total-spending-box {
    margin-bottom: 1%;
}

.table.subscriptions-table {
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
    background-color: #ffffffd9;
}

div.upcoming-payments-div {
    margin: 3%;
}

div.ui.grid.centered.upcoming-payments-details {
    margin-top: 3%;
}

.subscription-details {
    text-align: center;
}

.website:hover {
    text-decoration: underline;
    color: blue;
}

.subscription-list-container {
   
}

.subscription-details {
    background-color: #ffffffd9;
    width: 60%;
    margin: auto;
    margin-top: 10%;
}